<p class="metadata">
{{ .ReadingTime }} min.
{{ $dateTime := .PublishDate.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2 Jan 2006" }}
Posted <time datetime="{{ $dateTime }}">{{ .PublishDate.Format $dateFormat }}</time>.
Tags: {{ with .Params.tags }}
{{ range . }}
{{ $href := print (absURL "tags/") (urlize .) }}
<a href="{{ $href }}/">{{ . }}</a>
{{ end }}
{{ end }}
{{ with .Params.horny_tags }}
{{ range . }}
{{ $href := print (absURL "horny_tags/") (urlize .) }}
<a href="{{ $href }}/">{{ . }}</a>
{{ end }}
{{ end }}
</p>
