:root {
	--purple-light: #6E3FA3;
	--purple-dark: #965EC8;
	--purple-dark-highcontrast: #C394ED;
	--gold-light: #9D6942;
	--gold-dark: #e5bb5c;
	--green-light: #3A8812;
	--green-dark: #3A8812;
	--secondary-light: #D7D7D7;
	--secondary-dark: #2E2E2E;
	--fg-light: #000000;
	--fg-dark: #FFFFFF;
	--bg-light: #FFFFFF;
	--bg-dark: #131313;
}

@font-face {
	font-family: "Lunchtype21 Bold";
	src: url("/font/Lunchtype21-Bold.woff2") format("woff2");
	font-display: swap;
}

* {
	box-sizing: border-box;
	margin: 0;
}

html,
body {
	height: 100%;
	color: var(--fg-light);
	background-color: var(--bg-light);
}

html {
	font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lunchtype21 Bold", -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, sans-serif;
}

h1,
h2,
h3,
a {
	color: var(--purple-light);
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.25em;
}

h1.title {
	margin-top: 0;
	font-size: 3rem;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 0.25em;
}

header {
	padding-bottom: 2em;
	background-color: var(--purple-light);
	color: var(--fg-dark);
	clip-path: polygon(0 0,
			100% 0,
			100% calc(100% - 8vw),
			0 100%);
}

a.nav-link,
a.nav-link:visited {
	font-weight: bold;
	text-decoration: none;
	margin-left: 0.75em;
	color: var(--fg-dark);
}

header nav a:active {
	color: var(--gold-light);
}

a.nav-link:first-child {
	margin-left: 0;
}

a.nav-link:hover {
	text-decoration: underline;
}

.container {
	max-width: 65ch;
	padding: 2em;
	margin: 0 auto;
}

header h1.site-title {
	color: white;
	margin: 0 0 0.5em 0;
}

.slashes {
	vertical-align: baseline;
	height: 0.85em;
	/* TODO: delete this once Safari has aspect-ratio support */
	width: 1.05em;
	aspect-ratio: 119 / 96;
	position: relative;
	bottom: -2px;
}

.metadata {
	font-size: 0.85rem;
}

p, ul, pre {
	line-height: 1.4;
	margin-bottom: 1rem;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: var(--gold-light);
}

a:active {
	color: var(--green-light);
}

a.summary, a.summary:visited {
	color: var(--fg-light);
	text-decoration: none;
}

article {
	border-bottom: 1px solid var(--secondary-light);
	margin-top: 1em;
}

article:last-child {
	border-bottom: none;
}

figure,
img {
	max-width: 100%;
	height: auto;
}

figure {
	margin-right: 0.25rem;
	margin-top: 0.25rem;
}

figcaption {
	font-style: italic;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.25em 1em;
}

li {
	margin-bottom: 0.5em;
}

li:last-child {
	margin-bottom: 1em;
}

.footnotes {
	font-size: 0.875em;
}

hr {
	border: 1px solid var(--secondary-light);
	margin-bottom: 0.5em;
}

.height-fix {
	min-height: calc(100vh - 10em);
}

footer {
	background-color: var(--secondary-light);
	font-style: italic;
	height: 10em;
	clip-path: polygon(0% 8vw,
			100% 0%,
			100% 100%,
			0% 100%);
}

footer p {
	position: relative;
	bottom: -5em;
	font-size: 0.75rem;
	margin-bottom: 0;
}

.gallery-list-item a:hover h3 {
	color: var(--green-light);
}

.gallery-list-item a:visited h3 {
	/* without this, the links are always header-colored */
	color: var(--gold-light);
}

.gallery-list-item img {
	margin-bottom: 0.5em;
}

.gallery-buttons {
	width: 100%;
	margin-top: 1em;
	display: flex;
	justify-content: space-between;
}

.placeholder.button {
	height: 0;
	background-color: rgba(0,0,0,0);
}

.button,
.button:visited {
	display: inline-block;
	color: var(--fg-dark);
	background-color: var(--purple-light);
	padding: 0.5em;
	text-decoration: none;
	text-align: center;
	width: 6em;
	font-size: 0.75em;
}

.button:hover {
	background-color: var(--purple-dark)
}

.button.big {
	width: auto;
	padding: 0.5em 1rem 0.5em 1rem;
	font-size: 1rem;
	font-weight: bold;
}

.gallery-title {
	margin-top: 0.5em;
}

.smut-link {
	margin-top: 2em;
}

.smut-link a {
	font-size: 0.75em;
}

@media(prefers-color-scheme: dark) {

	html,
	body {
		color: var(--fg-dark);
		background-color: var(--bg-dark);
	}

	h1,
	h2,
	h3,
	a {
		color: var(--purple-dark-highcontrast);
	}

	header {
		background-color: var(--purple-light);
	}

	a.nav-link:active {
		color: var(--gold-dark);
	}

	a:visited {
		color: var(--gold-dark);
	}

	a:active {
		color: var(--green-dark);
	}

	a.summary, a.summary:visited {
		color: var(--fg-dark);
	}

	.gallery-list-item a:visited h3 {
		color: var(--gold-dark);
	}

	.gallery-list-item a:active h3 {
		color: var(--green-dark);
	}

	hr {
		border: 1px solid var(--secondary-dark);
	}

	article {
		border-bottom: 1px solid var(--secondary-dark);
	}

	footer {
		background-color: var(--secondary-dark);
	}
}

@media(min-width: 65em) {
	.site-title {
		font-size: 3em;
	}

	header {
		padding-bottom: 2em;
	}

	footer p {
		bottom: -7em;
	}
}

@media(min-width: 85em) {
	header {
		padding-bottom: 4em;
	}
}
